extends ../home.pug
block contenido

		h1 asignar materia a docente
		.table-responsive

			table.table-bordered
				
				tbody
						tr
							td Nombre :
							td #{docente[0].nombres}
						tr
							td Paterno :
							td #{docente[0].paterno}
						tr
							td Materno :
							td #{docente[0].materno}
						tr
							td Direccion :
							td #{docente[0].direccion}
						tr
							td CI :
							td #{docente[0].ci}
						tr
							td Telefono :
							td #{docente[0].telefono}
						tr
							td Fecha Nac :
							td #{docente[0].fecha_nac}
						tr
							td Genero : 
							if (docente[0].genero==1)
								td masculino
							else
								if (docente[0].genero==0)
									td femenino
		h4 MATERIAS ASIGNADAS
		for mat in materias
			for imp in imparte
				if (mat.id_materia==imp.materia)
					.checkbox
						label
							input(type='checkbox', name='selec[]' value=mat.id_materia ,checked='1')
							| #{mat.area}
		h4 SELECCIONE LAS MATERIAS PARA ASIGNAR A DOCENTE

		form(action='/home/asigdoc/'+docente[0].id_persona+'/save', class="",method="POST")
			
			for mat in materias
				.checkbox
					label
						input(type='checkbox', name='selec[]' value=mat.id_materia)
						| #{mat.area}
			//- for (i=0; i<imparte.length;i++)
			//- 	|#{imparte[i].materia}
			input(type="submit", value="Asignar" class="btn btn-primary")
		