extends ../doce.pug
block contenido

		h3 Cursos
		p.text-danger.pt-0.mt-0 *Seleccione las siguientes opciones
		
			form(action='/doce/notas/'+materia[0].id_materia, class="",method="GET")
				.form-group.row
					label(for="mat" class="col-form-label col-sm-2") Materia :
					.col-sm-auto
						//- input(type="hidden" class="form-control" id="mat" name="materia" value=materia[0].area)
						h5(class="form-control")=materia[0].area
				p.text-danger.pt-0.mt-0 *Seleccion un Curso
				.form-group.row
					label(for="cur" class="col-form-label col-sm-2") Curso :
					.col-sm-auto
						select(id="cur" class="form-control " name="cur")
							for c in curso
								option(value=c.id_curso) #{c.curso}
				p.text-danger.pt-0.mt-0 *Seleccione un Bimestre
				.form-group.row
					label(for="bim" class="col-form-label col-sm-2") Bimestre :
					.col-sm-auto
						select(id="bim" class="form-control " name="bim")
							for b in bim
								option(value=b) #{b}
					input(type="submit", value="BUSCAR" class="btn btn-primary") 