extends ../doce.pug


block contenido
		script(type='text/javascript').
			var piedra={peso:50,tamano:"grande",cantidad:40};
			var mat=JSON.stringify(materia)
			var es=!{JSON.stringify(estudiante)}
			console.log(piedra);
			console.log(mat);
			console.log(es);
			//- localStorage.setItem('piedra',JSON.stringify(piedra));
		h3 Registrar Notas de Estudiantes
		hr.bg-info
		.form-group.row
			label(for="mat" class="col-form-label col-sm-2") Materia:
			.col-sm-2
				input(type="text" class="form-control" id="mat" name="materia" value=materia[0].area, disabled)
			label(for="cur" class="col-form-label col-sm-2") Curso :
			.col-sm-2
				input(type="text" class="form-control" id="cur" name="curso" value=curso[0].curso, disabled)
			label(for="bimestre" class="col-form-label col-sm-2") Bimestre :
			.col-sm-2
				h5(class="form-control") #{bimestre}
		hr.bg-info
		.table-responsive
			table.table.table-bordered
				thead
					tr
						th Id
						th Nombres
						th Ap.Paterno
						th Ap.Materno
						th CI
						th Nota

				tbody
					for per in est
						tr
							form(action="/doce/notas/"+materia[0].id_materia, class="",method="POST")
								td
									input(type="hidden" class="form-control" id="id_est" name="id_est" value=per.id_persona)
									input(type="hidden" class="form-control" id="bim" name="bim" value=bimestre)
									input(type="hidden" class="form-control" id="cur" name="cur" value=curso[0].id_curso)
									| #{per.id_persona}
								td #{per.nombres}
								td #{per.paterno}
								td #{per.materno}
								td #{per.ci}
								td #{per.nota}
								td
									if (per.nota==0)
										input(type="text" class="form-control" id="nota" name="nota" value="" size="2")
									else
										input(type="text" class="form-control" id="nota" name="nota" value="",disabled,size="2")
								td
									if (per.nota==0)
										input(type="submit", value="Insertar" class="btn 	btn-outline-success btn-sm")
									else
										input(type="submit", value="Insertar" class="btn 	btn-outline-success btn-sm",disabled)
								td

									a(href= '/doce/notas/'+per.id_calificacion+'/'+curso[0].id_curso+'/edit' class="btn btn-outline-info btn-sm") editar
									//- form(action="/doce/notas/"+materia[0].id_materia+"?_method=PUT", class="",method="POST")

									//- input(type="submit", value="Modificar" class="btn btn-outline-info btn-sm")

