extends ../home.pug
block contenido
		h1 listar tutores
		.table-responsive

			table.table
				thead
					tr
						th nombre
						th paterno
						th materno
						th direccion
						th telefono
						th genero
						th fecha_nac
						th id tutor
						th ci
						th mod
						th eli
				tbody
					for lista in personas
						tr
							td #{lista.nombres}
							td #{lista.paterno}
							td #{lista.materno}
							td #{lista.direccion}
							td #{lista.telefono}
							if (lista.genero==1)
								td masculino
							else
								if (lista.genero==0)
									td femenino
							td #{lista.fecha_nac}
							td #{lista.id_tutor}
							td #{lista.ci}
							td 
								a(href= '/home/mostrar/'+lista.id_persona+'/' class="btn btn-outline-info btn-sm") editar
							td 
								form(action="/home/mostrar/"+lista.id_persona+"?_method=DELETE", class="",method="POST")
									input(type="submit", value="Eliminar" class="btn btn-outline-danger btn-sm")

		//- for lista in personas
		//- 	h3 datos #{lista.nombres} id: #{lista.id_administrador} ci:#{lista.ci}