extends ../doce.pug
block contenido
		h2 Mis cursos 
		form(action='/doce/notas/'+materia[0].id_materia, class="",method="GET")
			.form-group.row
				label(for="mat" class="col-form-label col-sm-2") Materia
				.col-sm-2
					//- input(type="hidden" class="form-control" id="mat" name="materia" value=materia[0].area)
					h5(class="form-control")=materia[0].area
			.form-group.row
				label(for="cur" class="col-form-label col-sm-2") Curso
				.col-sm-4
					select(id="cur" class="form-control " name="cur")
						for c in curso
							option(value=c.id_curso) #{c.curso}

			.form-group.row
				label(for="bim" class="col-form-label col-sm-2") Bimestre
				.col-sm-3
					select(id="bim" class="form-control " name="bim")
						for b in bim
							option(value=b) #{b}
				input(type="submit", value="BUSCAR" class="btn btn-primary") 